.custom-file-input {
  display: inline-block;
  position: relative;
  padding: 5px 7px;
  width: 300px;
  cursor: pointer;
  background: var(--color-primary);
  color: white;
  border-radius: 5px;
}

.custom-file-input:hover {
  background-color: var(--color-text-light);
  color: var(--color-secondry);
  border: 1px solid var(--color-primary);
}
.button-text{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5px;
}